body,
html {
    height: 100%;
    /* Ensure the html and body are full height */
    margin: 0;
    /* Remove default margin */
    overflow: hidden;
    /* Optional: Prevent scrolling on the entire page */
}

.body-bg {
    background-image: url('bgball.jpg');
    /* Replace with your actual image URL */
    background-position: center center;
    /* Center the image */
    background-repeat: no-repeat;
    /* No repeating of the image */
    background-attachment: fixed;
    /* Fix background during scroll */
    background-size: cover;
    /* Cover the entire viewport */
    height: 100%;
    /* Full height */
    filter: blur(8px);
    /* Apply blur effect */
    -webkit-filter: blur(8px);
    /* For Safari and Chrome */
    width: 100vw;
    /* Full width */
    position: fixed;
    /* Fix the position of pseudo-element */
    z-index: -1;
    /* Place the background behind content */
}

.overlay {
    position: absolute;
    /* Position it over the .body-bg */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black overlay with 50% opacity for dimming */
    z-index: -1;
    /* Make sure it's under all content except the background */
}




.services-title {
    text-align: center;
    /* Center the title horizontally */
    font-weight: bold;
    font-size: 50px;
    /* Slightly larger font size for a bolder appearance */
    font-family: 'Arial', sans-serif;
    /* Choose a sophisticated typeface */
    color: #ffffff;
    /* A deep, rich navy blue for elegance */
    padding: 60px 0;
    padding-top: 100px;
    /* Increased spacing for a more dramatic section separation */
    text-transform: uppercase;
    /* Capitalize letters for emphasis */
    letter-spacing: 2px;
    /* More spacing between letters for a luxurious feel */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* Soft shadow for a subtle 3D effect */
}

.service-box {
    margin: 5px;
    padding: 10px;
    height: 400px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    background-color: #f4f3f3;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
    /* Smooth transition for shadow and transform */
}

.service-box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    /* Increased shadow for a lifted effect */
    transform: translateY(-5px);
    /* Slight upward move */
}

h4 {
    font-size: 20px;
    margin-bottom: 5px;
    padding-top: 15px;
}

.des {
    font-size: 16px;
}